  <%- include ('./partials/head.ejs') %>

  <body class="container">

  <%- include ('./partials/header.ejs') %>

   <main>

     <section id="main">
       <h1>Discover</h1>
     </section>

     <section>
       <h2>Find People you like</h2>

       <% for (var i = 0; i < users.length; i++) { %>
        <div class="card">

<img class="avatar" src="/img/<%= users[i].picture %> " alt="Placeholder image">
<p> <%= users[i].name %>, <bold><%= users[i].age %> </bold> </p>
<p> I'm Lookin for <%= users[i].preference %> </p>
<p> So, tell me: <%= users[i].pickupline %> </p>
<p> My Hobby's are: <%= users[i].pickupline %> </p>
<form action="/discover/vote/<%= users[i]._id %>" method="POST">
<button type='submit' class="button dislike" name='vote' value="dislike">Dislike</button>
<button type='submit' class="button like" name='vote' value="like">Like</button>
</form>
        </div>
      <% } %> 
     </section>

   </main>

   <footer>
     <%- include ('partials/footer.ejs') %>
   </footer>

   </body>
