<%- include ('partials/edit-head.ejs') %>

<body class="container">

  <%- include ('partials/header.ejs') %>

  <main>

    <section id="hero">
      <h1>Edit profile</h1>
    </section>

    <section class="formContainer">

      <div>
        <form action="edit" method="POST" enctype="multipart/form-data">

            <div class="flexForm">

                <div class="progressbar hidden">
                  <div class="progress1 hidden"></div>
                  <div class="progress2 hidden"></div>
                  <div class="progress3 hidden"></div>
                </div>

                <fieldset class="personalia">
                    <label>What is your name?
                        <input type="text" name="name" placeholder=<%= user.name %> >
                    </label>

                    <label class="flexAge">How old are you?
                        <input type="number" name="age" max="99" placeholder=<%= user.age %> >
                    </label>

                    <label>Do you have any hobbies?
                        <input type="text" name="hobby" placeholder=<%= user.hobby %> >
                    </label>

                    <label>Which gender do you prefer?
                        <input type="text" name="genderPreference" placeholder=<%= user.preferences %> >
                    </label>
                </fieldset>

                <fieldset class="pickupline">
                    <label>What is your pickup line?
                        <input type="text" name="pickupText" value="<%= user.pickupline %>">
                    </label>

                    <label class="flexLine">If you can't think about one, you can choose for a random one. Check
                        this box if you want one.
                        <input type="checkbox" name="pickupBox" class="pickupCheckbox">
                    </label>
                </fieldset>

                <fieldset class="uploadPicture">
                    <label class="uploadContainer">Upload your profile picture.
                        <input class="uploadInput" type="file" name="picture">
                    </label>
                </fieldset>

                <div class="done hidden">
                  <p>You are done!</p>
                </div>
                <button type="submit" class="saveButton">Save</button>
            </div>

        </form>

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        <button class="button next">Next</button>

        <button class="button back">Back</button>
=======
=======
>>>>>>> 6197577ef18d8644c2c5a3a2d1c7e1b8915583fc
        <button class="back hidden">Back</button>
=======
        <button class="back button hidden">Back</button>
>>>>>>> a8c0132dd0db0e114183c66e44046e7d973783d0

        <button class="next button hidden">Next</button>


<<<<<<< HEAD
>>>>>>> cfa358387ed5bf31da83b3f368c803a1ab244386

=======
>>>>>>> 6197577ef18d8644c2c5a3a2d1c7e1b8915583fc
        <div class="cancelContainer">
            <a href="/profile" class="cancelButton">Cancel</a>
        </div>

      </div>

    </section>

  </main>

  <footer>
    <%- include ('partials/footer.ejs') %>
  </footer>
  <script src="/public/js/script.js"></script>

</body>

</html>
