  <%- include ('./partials/head.ejs') %>

  <body class="container">

    <%- include ('./partials/header.ejs') %>

    <main>

      <section id="main">
        <h1>Discover</h1>
      </section>

      <section>
        <h2>LIKES</h2>

        <% for (var i = 0; i < user.likes.length; i++) { %>
        <div class="card">

          <img class="avatar" src="/img/<%= user.likes[i].picture %> " alt="Placeholder image">
          <p> <%= user.likes[i].name %>, <bold><%= user.likes[i].age %> </bold>
          </p>
          <p> I'm Lookin for <%= user.likes[i].preference %> </p>
          <p> So, tell me: <%= user.likes[i].pickupline %> </p>
          <p> My Hobby's are: <%= user.likes[i].pickupline %> </p>
          
        </div>
        <% } %>
      </section>
<section>
  <h2>DISLIKES</h2>

  <% for (var i = 0; i < user.dislikes.length; i++) { %>
  <div class="card">

    <img class="avatar" src="/img/<%= user.dislikes[i].picture %> " alt="Placeholder image">
    <p> <%= user.dislikes[i].name %>, <bold><%= user.dislikes[i].age %> </bold>
    </p>
    <p> I'm Lookin for <%= user.dislikes[i].preference %> </p>
    <p> So, tell me: <%= user.dislikes[i].pickupline %> </p>
    <p> My Hobby's are: <%= user.dislikes[i].pickupline %> </p>

  </div>
  <% } %>
</section>
    </main>

    <footer>
      <%- include ('partials/footer.ejs') %>
    </footer>

  </body>
