<%- include ('partials/head.ejs') %>

<body class="container">

    <%- include ('partials/profile-header.ejs') %>

<main>

    <section id="main">
        <h1>Welcome <%= user.name %> </h1>
    </section>

    <section>
        <h2>My info</h2>

        <div id="profile-info">
          <article>
            <ul>
              <li>Name: <%= user.name %>  </li>
              <li>Age: <%= user.age %></li>
              <li>Preferences: <%= user.preferences %></li>
              <li>Hobby's: <%= user.hobby %></li>
            </ul>
          </article>

         
        </div>
        <a href="/edit-profile"><button type="button" name="button" >Edit profile</button></a>
    </section>

</main>

<footer>
    <%- include ('partials/footer.ejs') %>
</footer>

</body>
