<%- include ('partials/head.ejs') %>

<body class="container">

  <%- include ('./partials/header.ejs') %>

<main>

    <section id="main">
        <h1>Welcome <%= user.name %> </h1>
    </section>

    <section>
        <h2>My info</h2>

        <div id="profile-info">
          <article>
            <ul>
             <li> <%= user.name %>, <bold><%= user.age %> </bold></li>
              <li>Preferences: <%= user.preferences %></li>
              <li>Hobby's: <%= user.hobby %></li>
              <li>Pickupline <%= user.pickupline %></li>
            </ul>
          </article>

         
        </div>
        <a href="/profile/edit">Edit profile</a>
    </section>

</main>

<footer>
    <%- include ('partials/footer.ejs') %>
</footer>

</body>
