<%- include ('partials/head.ejs') %>

<body class="container">

  <%- include ('./partials/header.ejs') %>

<main>

    <section id="hero">
        <h1>Profile</h1>
    </section>

    <section class="page-content">
        <h2>Welcome <%= user.name %> </h2>

        <div id="profile-info">
          <article>
            
             <p><%= user.name %>, <b><%= user.age %> </b></p>
              <p>Preferences: <%= user.preferences %></p>
              <p>Hobby's: <%= user.hobby %></p>
              <p>Pickupline <%= user.pickupline %></p>
            
          </article>


        </div>
        <a href="/profile/edit">Edit profile</a>
    </section>

</main>

<footer>
    <%- include ('partials/footer.ejs') %>
</footer>

</body>
